<div class="border-bottom">
  <p class="text-center text-dark"><strong><i class="fas fa-info-circle text-primary"></i> Detalhes</strong></p>
</div>
<div class="text-left text-dark mt-2">
  <p><strong>Data:</strong> <%=sample.date_sample%></p>
</div>
