<h2 class="page-title text-center mt-4"><i class="fas fa-vial text-primary"></i> Amostras</h2>

<div class="samples-container">
  <%@samples.each do |sample|%>
  <div class="card-product mt-3 rounded d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">

      <div class="card-product-infos ml-4">
        <h5><i class="page-title fas fa-flask text-primary"></i> Amostra <%=sample.id%></h5>
        <p>Descrição</p>
      </div>
  </div>
    <%= link_to "Info", "#", class:"page-title btn btn-dark mr-4" %>
  </div>
  <%end%>
</div>
