<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pjfernandes/gasuff"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    GÁSUFF <i class="far fa-copyright"></i>
  </div>
</div>
