// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "samplecard";

.page-title {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.map{
  overflow: hidden;
}

body a {
  color: rgb(126, 125, 125);
}

body a:hover {
  color: black;
  text-decoration: none;
}
