.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: rgb(15, 15, 83);
  border-bottom: 2px solid rgb(15, 15, 83);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: rgb(15, 15, 83);
}
